# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
.hypothesis/

# Flask stuff
instance/
.webassets-cache

# dotenv
.env

# virtualenv
venv/
ENV/

# IDE
.idea
.vscode
